<nav class="navbar navbar-expand-lg navbar-dark text-black-50 groen mb-5">
  <div class="container">
      <button class="navbar-toggler" (click)="togglenav()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen}" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-left">
            <li>
              <a class="nav-link active" routerLink="/" routerLinkActive="active"><img src="../assets/resources/simplyPollsLogo.png" height="50px"/> </a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
            <li *ngIf="ingelogd" class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li *ngIf="ingelogd" class="nav-item">
              <a class="nav-link" routerLink="/vrienden" routerLinkActive="active">Vrienden ({{aantalVerzoeken}})</a>
            </li>
            <li *ngIf="!ingelogd" class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="ingelogd" class="nav-item">
              <a class="nav-link" (click)="onLogout()">Logout</a>
            </li>
            <li *ngIf="!ingelogd" class="nav-item">
              <a class="nav-link" routerLink="/registratie" routerLinkActive="active">Registreer</a>
            </li>
          </ul>
        </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="mt-5">
  <div class="footer groen" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <img src="../assets/resources/simplyPollsLogo.png">
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <h3></h3>
          <ul>
            <li>Maak gemakkelijk je eigen polls en nodig je vrienden uit</li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <ul>
            <li> <h5> <a href="#" style="margin-top: 5em">SIMPLYPOLLS</a> </h5></li>
          </ul>
        </div>

        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
      <div class="container">
        <p class="pull-left copyright"> Copyright © Stijn Haerkens 2019. All right reserved. </p>

      </div>
    </div>
    <!--/.footer-bottom-->
  </div>

</footer>