<div class="container centreer">
    <img src="../../../assets/resources/simplyPollsLogo.png" width="75%"/>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Aantal polls</h5>
              <p class="card-text">Simplypolls bevat al reeds {{aantalPolls}} polls</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Aantal gebruikers</h5>
              <p class="card-text">Simplypolls bavat al reeds {{aantalGebruikers}} gebruikers</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success mt-5 mr-1" (click)="toLogin()">Login</button>
         
        <button type="button" class="btn btn-outline-success mt-5 ml-1" (click)="toRegistreer()">Registreer</button>
      </div>
</div>
